:root {
	--landing-page-bgcolor: rgb(95,158,160);
	--landing-page-font-color: #17a2b8;
	--landing-page-font: 'Kaushan Script', cursive;

	--heading1-color: rgb(0,128,255);/*#17a2b8;*/
	--heading2-color: rgb(128,0,0);

	--bg-maroon: rgb(139,0,0);
	--bg-footer: #17a2b8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
img {
	width: 100%;
	box-shadow: 0 0 10px -1px #555;
}
h1, h2,
h3, h4,
h5, h6 {
	color: var(--heading1-color);
}
h1, h2 {
	text-shadow: 2px 2px #555;
}

.active {
	color: white;
	font-weight: bolder;
}
.card {
	border-radius: 0;
}

.btn, .form-control, textarea {
	border-radius: 0;
}
textarea {
	resize: none;
}
.container-fluid > div > div {
	margin-bottom: 40px;
}
.container-fluid > header, 
.container-fluid > main,
.container-fluid > footer {
	margin-bottom: 0;

}
/**********************************/
/*ABOVE IS THE INITIALIZATION PART*/
/**********************************/


#navbar {
	width: 100%;
}
.navbar-brand img {
	width: 100px;
	height: 50px;
	box-shadow: 0 0 0 0;
}

#navbar {
	padding: 0 0 0 1rem;
}
#navbar-nav a {
	position: relative;
	display: inline-block;
	background: none;
	padding: 15px 40px;
	/*transition: all 0.5s ease;*/
}

#navbar-nav a:hover {
	color: white;
	font-weight: bolder;;
}
#navbar-nav a::after {
	position: absolute;
	content: '';
	color: black;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: white;
	transform-origin: left;
	transition: all 0.5s ease;
	z-index: 0;
	opacity: 0.5;
}
#navbar-nav a:hover::after {
	width: 100%;
}
/*************************/
/*THIS IS MY LANDING PAGE*/
/*************************/
.landing-page {
	text-align: center;
	background: url('../images/landing-page-1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-color: var(--landing-page-bgcolor);	
	width: 100vw;
	height: 100vh;
}
.landing-page * {
	padding-top: 6vh;
}
.landing-page h1 {
	color: var(--landing-page-font-color);
	font-family: var(--landing-page-font);
	font-weight: bolder;
	text-shadow: 3px 3px #222;
	font-size: 3rem;
}
.landing-page h2 {
	color: var(--landing-page-font-color);
	text-shadow: 3px 3px #222;
	font-size: 2rem;
}
.landing-page i {
	font-size: 3rem;
	text-shadow: 1px 1px #222;
}
.animated {
	animation-duration: 1.5s;
  	animation-fill-mode: both;
  	animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {
  	transform: translateY(-30px);
  	color: maroon;
  }
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}
/**********************************/
/*THIS IS THE START OF HOME BANNER*/
/**********************************/

#carousel-controls {
	margin: 0 auto;
	width: 100%;
	height: calc(60vh - 60px);
}
.carousel-item img {
	height: calc(60vh - 60px);

}

.carousel-item h3 {
	font-size: 2rem;
	color: darkblue;
}
.reponsive-note {
	display: block;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	padding: 0 20px;
}
.reponsive-note label {
	color: var(--heading2-color);
	/* color: blue; */
}
#carousel-controls li {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: maroon;
}
#carousel-controls .carousel-indicators > .active {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 2px solid maroon;
	background-color: white;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	padding: 15px;
	border-radius: 50%;
	background-color: black;
}
/********************************/
/*THIS IS THE START OF ABOUT DIV*/
/********************************/
.about {
	margin-top: 20px;
}
.about * {
	margin-bottom: 10px;
}
.about > div:first-child img,
.about > div:last-child img {
	width: 100%;
	height: 150px;
}
.about > div {
	margin-bottom: 20px;
}
.about > div > div > div {
	margin-bottom: 5px;
}
/**********************************/
/*THIS IS THE START OF FACULTY DIV*/
/**********************************/
.card {
	position: relative;
	width: 100%;
	/*box-shadow: 0 0 10px 1px #999;*/
	height: 550px;
	/*background-color: none;*/
	margin-bottom: 20px;
}
#faculties > div > div > img {
	height: 300px;
	/*width: 300px;*/
}
a[href="#about"] > .btn {
	transition: all 0.2s ease-out;
}
.card a {
	position: absolute;
	bottom: 20px;
	left: 20px;
	box-shadow: 0 0 10px 1px #999;
	transition: all 0.2s ease-in;
	
}
.card a:hover, a[href="#about"] > .btn:hover {
	box-shadow: 0 0 10px 3px #999;
	transform: scale(1.2);
}

.card img {
	height: 200px;
}


/*************************************/
/*THIS IS THE START OF AFFILIATES DIV*/
/*************************************/
#affiliates {
	padding: 20px 0;
}
#affiliates ul {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
#affiliates li {
	display: block;
	float: left;
	list-style: none;
	margin-right: 10px;
	width: 20%;
	transition: all 0.2s linear;
}
#affiliates img:hover {
	transform: rotate(5deg);
}
#affiliates img {
	width: 50%;
}

/*************************************/
/*THIS IS THE START OF Contact Link DIV*/
/*************************************/
#contactLink p {
	padding: 0;
	margin: 0;
}
#contactLink {
	background-color: var(--bg-maroon);
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

#contactLink button {
	width: 100%;
}

/*********************************/
/*THIS PART IS FOR CONTACT FOOTER*/
/*********************************/
#contactFooter {
	padding-top: 20px;
}
#contactFooter > div:last-child {
	background-color: var(--bg-footer);
	padding-top: 1rem;
}
#contactFooter ul {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
#contactFooter li {
	display: block;
	float: left;
	list-style: none;
	margin-right: 10px;
	width: 20%;
}
#contactFooter a {
	text-decoration: none;
}

#contactFooter > div:last-child i {
	font-size: 3rem;
	color: rgb(178,34,34);
	transition: transform 0.2s ease-out;
}
#contactFooter > div:last-child i:hover {
	transform: scale(1.5);
} 

/*************************************/
/*THIS IS THE START OF HTML PAGE CSS*/
/******** Created By: Marlon**********/
/*********Dated: 10/24/2018***********/
/*************************************/


#about img {
	height: 15rem;
}

#about #header h1, 
#faculties #header h1, 
#trainings #header h1,
#contactus #header h1 {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 90vw;
}

#faculties > div * {
	margin-bottom: 20px;
}

#trainings > div * {
	margin-bottom: 20px;
}

#trainings h5, #trainings h4 {
	margin-bottom: 0;
}

#contactus > div {
	margin-bottom: 20px;
}
#contactus form {
	margin-bottom: 30px;
}



















@media only screen and (min-width: 601px) {
	/********************************/
	/*THIS IS THE START OF ABOUT DIV*/
	/********************************/
	.landing-page * {
		padding-top: 15vh;
	}
	.landing-page h1 {
		font-size: 4rem;
	}
	.landing-page h2 {
		font-size: 3rem;
	}
	.landing-page i {
		font-size: 3rem;
	}
	.about > div:first-child img,
	.about > div:last-child img {
		width: 100%;
		height: 250px;
	}
	.about > div {
		margin-bottom: 20px;
	}
	.carousel-item h3, .carousel-item label {
		font-weight: bolder;
	}
	#carousel-controls {
		margin: 0 auto;
		width: 100%;
		height: calc(70vh - 60px);
	}
	.carousel-item img {
		height: calc(70vh - 60px);
	}

	/*************************************/
	/*THIS IS THE START OF ABOUT PAGE CSS*/
	/******** Created By: Marlon**********/
	/*********Dated: 10/24/2018***********/
	/*************************************/

	#about img {
		height: 20rem;
	}
	#about > div * {
		margin-bottom: 20px;
	}

}

@media only screen and (min-width: 961px) {
	/**********************************/
	/*THIS IS THE START OF HOME BANNER*/
	/**********************************/

	/*************************************/
	/*THIS IS THE START OF ABOUT PAGE CSS*/
	/******** Created By: Marlon**********/
	/*********Dated: 10/24/2018***********/
	/*************************************/

}

@media only screen and (max-height: 450px) and  (orientation: landscape) {
	.landing-page * {
		padding-top: 8vh;
	}
	.landing-page h1 {
		color: var(--landing-page-font-color);
		font-family: var(--landing-page-font);
		font-weight: bolder;
		text-shadow: 2px 2px #222;
		font-size: 3rem;
	}
	.landing-page h2 {
		color: var(--landing-page-font-color);
		text-shadow: 1px 1px #222;
		font-size: 2rem;
	}
	.landing-page i {
		font-size: 2rem;
		text-shadow: 1px 1px #222;
	}

}