:root {
	--landing-page-bgcolor: rgb(95,158,160);
	--landing-page-color: #17a2b8;
	--landing-page-font: 'Kaushan Script', cursive;
	--heading-carousel-color: #17a2b8;
	--heading-color: rgb(128,0,0);
	--bg-maroon: rgb(139,0,0);
	--font-maroon: rgb(139,0,0);
	--bg-footer: #17a2b8; /*rgb(135,206,250);*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
	color: var(--heading-carousel-color);
}
.btn {
	border-radius: 0;
}
.container-fluid > div > div {
	margin-bottom: 40px;
}
.container-fluid > div > div:first-child, 
.container-fluid > div:nth-child(2) {
	margin-bottom: 0;
}
/**********************************/
/*ABOVE IS THE INITIALIZATION PART*/
/**********************************/

#navbar {
	width: 100%;
}
.navbar-brand img {
	width: 100px;
	height: 50px;
}
/*************************/
/*THIS IS MY LANDING PAGE*/
/*************************/
.landing-page {
	text-align: center;
	background: url('../images/landing-page.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-color: var(--landing-page-bgcolor);	
	width: 100vw;
	height: 100vh;
}
.landing-page * {
	padding-top: 15vh;
}
.landing-page h1 {
	color: var(--font-maroon);
	font-family: var(--landing-page-font);
	font-weight: bolder;
	text-shadow: 3px 3px #555;
	font-size: 4rem;
}
.landing-page h2 {
	color: var(--font-maroon);
	/*font-family: var(--landing-page-font);*/
	font-weight: bolder;
	text-shadow: 2px 2px #555;
	font-size: 3rem;
}
.landing-page i {
	font-size: 3rem;
}


/**********************************/
/*THIS IS THE START OF HOME BANNER*/
/**********************************/

#carousel-controls {
	margin: 0 auto;
	width: 100%;
	height: calc(60vh - 60px);
}
.carousel-item img {
	height: calc(60vh - 60px);
}

.reponsive-note {
	display: block;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}
.reponsive-note label {
	color: var(--heading-color);
}

/********************************/
/*THIS IS THE START OF ABOUT DIV*/
/********************************/
#about > div:first-child img,
#about > div:last-child img {
	width: 100%;
	height: 150px;
}
#about > div > div > div {
	margin-bottom: 5px;
}
/**********************************/
/*THIS IS THE START OF FACULTY DIV*/
/**********************************/
.card {
	width: 100%;
	box-shadow: 0 0 20px 1px #555;
}
.card img {
	height: 200px;
}
/*************************************/
/*THIS IS THE START OF AFFILIATES DIV*/
/*************************************/
#affiliates ul {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
#affiliates li {
	display: block;
	float: left;
	list-style: none;
	margin-right: 10px;
	width: 20%;
}
#affiliates img {
	width: 50%;
}
/*************************************/
/*THIS IS THE START OF Contact Link DIV*/
/*************************************/
#contactLink p {
	padding: 0;
	margin: 0;
}
#contactLink {
	background-color: var(--bg-maroon);
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

#contactLink button {
	width: 100%;
}

/*********************************/
/*THIS PART IS FOR CONTACT FOOTER*/
/*********************************/
#contactFooter > div:last-child {
	background-color: var(--bg-footer);
	padding-top: 1rem;
}
#contactFooter ul {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
#contactFooter li {
	display: block;
	float: left;
	list-style: none;
	margin-right: 10px;
	width: 20%;
}
#contactFooter a {
	text-decoration: none;
}
#contactFooter > div:last-child i {
	font-size: 3rem;
	color: rgb(178,34,34);
}

@media only screen and (min-width: 601px) {
	/********************************/
	/*THIS IS THE START OF ABOUT DIV*/
	/********************************/
	#about > div:first-child img,
	#about > div:last-child img {
		width: 100%;
		height: 250px;
	}
}

@media only screen and (min-width: 601px) {
	/**********************************/
	/*THIS IS THE START OF HOME BANNER*/
	/**********************************/
	.carousel-item h3, .carousel-item label {
		font-weight: bolder;
	}
	#carousel-controls {
		margin: 0 auto;
		width: 100%;
		height: calc(70vh - 60px);
	}
	.carousel-item img {
		height: calc(70vh - 60px);
	}
}